.wrapper {
  -webkit-transition-property: 
  max-height max-width visibility padding;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  transition-property: 
  max-height max-width visibility padding;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  visibility: visible;
  max-width: 0;
  padding: 0;
  overflow: hidden;
}

.content-wrapper {
  background: rgba(255, 255, 255, 0.2);
}
.content-wrapper:hover {
  background: rgba(255, 255, 255, 0.6);
}

.content-inner-wrapper {
  padding: 2em 0.5em 0.5em 0.5em;
}

.show { 
  visibility: visible;
  max-height: 100%;
  max-width: 800px;
  padding: 1px;
}

.button-wrapper:not(.show) {
  visibility: hidden;
  max-height: 0;
  max-width: 0;
  padding: 0;
}

.content-wrapper:not(.show) {
  visibility: hidden;
  max-height: 0;
  max-width: 0;
  padding: 0;
}

button.close { 
  position: absolute;
  z-index: 1;
  padding: 0 3px;
}
