img.logo{
  height: 2em;
  vertical-align: top;
  float: right;
}

#main {
  position: absolute;
  width: 100%;
  height: 100%;
}

#fps {
  position: absolute;
  background-color: black;
  border: 2px solid white;
  text-align: center;
  font-size: 1em;
  color: white;
  bottom: 15px;
  right: 10px;
  width: fit-content;
  height: fit-content;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  top: 0;
  left: 0;
  z-index: -1;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
}

#embed-host {
  z-index: 10000;
}

#loader {
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: white;
  position: absolute;
}

#loader_content {
  position: absolute;
  top: calc(50% - 1.5rem);
  left: calc(50% - 5rem);
  margin: 0;
  width: 10rem;
  height: 3rem;
}

.toast {
  position: absolute;
  top: 60px;
  right: 200px;
}

.higher-vis {
  background: rgba(255, 255, 255, 0.4);
}

.float-panel {
  position: absolute;
  display: flex;
}

.float-panel.right {
  right: 0;
}

.float-panel.bottom {
  bottom: 0;
}

.my-button {
  padding: 1px;
  display: table-cell;
}

#info .content {
  width: 600px;
}

#config .content {
  width: 800px;
}

#link .content {
  width: 200px;
}

@media screen and (max-width: 974px) {
  #config .content {
    width: 600px;
  }
}

@media screen and (max-width: 810px) {
  #config .content {
    width: 400px;
  }

  #info .content {
    width: 400px;
  }
}

@media screen and (max-width: 608px) {
  #config .content {
    width: 250px;
  }

  #info .content {
    width: 250px;
  }
}

.tab-content, .nav-tabs {
  padding-right: 1em;
}

collapsable-menu .content {
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.4);
}

.sucess, .fail {
  display: none;
}
